<th:block th:fragment="styles"></th:block>
<th:block th:fragment="scripts"></th:block>
<section th:fragment="content">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
            <!--begin::Order details page-->
            <div class="d-flex flex-column gap-7 gap-lg-10">
                <!--begin::Order summary-->
                <div class="row g-7 g-lg-10">
                    <!--begin::Order details-->
                    <div class="col-xl-4">
                        <div class="card card-flush py-4 h-100">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>Order Detail</h2>
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                        <tbody class="fw-semibold text-gray-600">
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-calendar fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span></i>Order
                                                    Date
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"
                                                th:text="${orderDelivery.order.orderDate}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-wallet fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span><span
                                                            class="path3"></span><span class="path4"></span></i>Payment
                                                    Method
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"
                                                th:text="${orderDelivery.order.paymentMethod.defaultPayment}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-truck fs-2 me-2"><span class="path1"></span><span
                                                            class="path2"></span><span class="path3"></span><span
                                                            class="path4"></span><span class="path5"></span></i>Shipping
                                                    Method
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"
                                                th:text="${orderDelivery.order.shippingMethod.name}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                    </div>
                    <!--end::Order details-->

                    <!--begin::Customer details-->
                    <div class="col-xl-4">
                        <div class="card card-flush py-4 h-100">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>Customer Details</h2>
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                        <tbody class="fw-semibold text-gray-600">
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-profile-circle fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span><span
                                                            class="path3"></span></i>Customer
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"
                                                th:text="${orderDelivery.order.user.clientName}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-sms fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span></i>Email
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"
                                                th:text="${orderDelivery.order.user.email}"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-phone fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span><span
                                                            class="path3"></span><span class="path4"></span></i>Address
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"
                                                th:text="${orderDelivery.order.address.street + ', ' + orderDelivery.order.address.ward + ', ' + orderDelivery.order.address.district + ', ' + orderDelivery.order.address.city}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                    </div>
                    <!--end::Customer details-->

                    <!--begin::Documents-->
                    <div class="col-xl-4">
                        <div class="card card-flush py-4 h-100">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>Shipping Details</h2>
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                        <tbody class="fw-semibold text-gray-600">
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-devices fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span><span
                                                            class="path3"></span><span class="path4"></span><span
                                                            class="path5"></span></i>Invoice
                                                    <span class="ms-1" data-bs-toggle="tooltip"
                                                          title="View the invoice generated by this order.">
	                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span
                                                                    class="path1"></span><span
                                                                    class="path2"></span><span class="path3"></span></i>
                                                        </span>
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"><a
                                                    href="/saul-html-pro/apps/invoices/view/invoice-3.html"
                                                    class="text-gray-600 text-hover-primary">#<span
                                                    th:text="${orderDelivery.order.id}"></span></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-truck fs-2 me-2"><span class="path1"></span><span
                                                            class="path2"></span><span class="path3"></span><span
                                                            class="path4"></span><span class="path5"></span></i>Shipping
                                                    <span class="ms-1" data-bs-toggle="tooltip"
                                                          title="View the shipping manifest generated by this order.">
	                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span
                                                                    class="path1"></span><span
                                                                    class="path2"></span><span class="path3"></span></i>
                                                        </span>
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end"><a href="#"
                                                                            class="text-gray-600 text-hover-primary">#<span
                                                    th:text="${orderDelivery.id}"></span></a></td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-calendar fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span></i>Received
                                                    Date
                                                    <span class="ms-1" data-bs-toggle="tooltip"
                                                          title="Reward value earned by customer when purchasing this order">
	                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span
                                                                    class="path1"></span><span
                                                                    class="path2"></span><span class="path3"></span></i>
                                                        </span>
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end">
                                                <a href="/saul-html-pro/apps/invoices/view/invoice-3.html"
                                                   class="text-gray-600 text-hover-primary">
                                                    <span th:text="${#dates.format(orderDelivery.assignedDate, 'dd/MM/yyyy')}"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-calendar fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span></i>Inducement
                                                    <span class="ms-1" data-bs-toggle="tooltip"
                                                          title="Reward value earned by customer when purchasing this order">
	                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span
                                                                    class="path1"></span><span
                                                                    class="path2"></span><span class="path3"></span></i>
                                                        </span>
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end">
                                                <a href="/saul-html-pro/apps/invoices/view/invoice-3.html"
                                                   class="text-gray-600 text-hover-primary">
                                                    <span th:text="${orderDelivery.inducement}"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">
                                                <div class="d-flex align-items-center">
                                                    <i class="ki-duotone ki-calendar fs-2 me-2"><span
                                                            class="path1"></span><span class="path2"></span></i>Cancel Date
                                                    <span class="ms-1" data-bs-toggle="tooltip"
                                                          title="Reward value earned by customer when purchasing this order">
	                                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span
                                                                    class="path1"></span><span
                                                                    class="path2"></span><span class="path3"></span></i>
                                                        </span>
                                                </div>
                                            </td>
                                            <td class="fw-bold text-end">
                                                <a href="/saul-html-pro/apps/invoices/view/invoice-3.html"
                                                   class="text-gray-600 text-hover-primary">
                                                    <span th:text="${#dates.format(orderDelivery.order.deliveryDate, 'dd/MM/yyyy')}"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Card body-->
                        </div>
                    </div>
                    <!--end::Documents-->
                </div>
                <!--end::Order summary-->
            </div>
            <!--end::Order details page-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->

    <!--begin::Product List-->
    <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
        <!--begin::Card header-->
        <div class="card-header">
            <div class="card-title">
                <h2>Order #<span th:text="${orderDelivery.order.id}"></span></h2>
            </div>
        </div>
        <!--end::Card header-->

        <!--begin::Card body-->
        <div class="card-body pt-0">
            <div class="table-responsive">
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                    <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-175px">Product</th>
                        <th class="min-w-100px text-end">SKU</th>
                        <th class="min-w-70px text-end">Qty</th>
                        <th class="min-w-100px text-end">Unit Price</th>
                        <th class="min-w-100px text-end">Total</th>
                    </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <!--begin::Thumbnail-->
                                <a href="/saul-html-pro/apps/ecommerce/catalog/edit-product.html"
                                   class="symbol symbol-50px">
                                    <span class="symbol-label"
                                          style="background-image:url(/saul-html-pro/assets/media//stock/ecommerce/1.png);"></span>
                                </a>
                                <!--end::Thumbnail-->

                                <!--begin::Title-->
                                <div class="ms-5">
                                    <a href="/saul-html-pro/apps/ecommerce/catalog/edit-product.html"
                                       class="fw-bold text-gray-600 text-hover-primary"> <span
                                            th:text="${orderDelivery?.order?.variant?.product?.title ?: 'N/A'}"></span></a>
                                    <div class="fs-7 text-muted"><span
                                            th:text="${orderDelivery.order.variant.name}"></span></div>
                                </div>
                                <!--end::Title-->
                            </div>
                        </td>
                        <td class="text-end" th:text="${orderDelivery.order.variant.skuCode}">

                        </td>
                        <td class="text-end" th:text="${orderDelivery.order.quantity}">

                        </td>
                        <td class="text-end">
                            $<span th:text="${orderDelivery.order.variant.price}"></span>
                        </td>
                        <td class="text-end">
                            $<span th:text="${orderDelivery.order.quantity * orderDelivery.order.variant.price}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="fs-3 text-gray-900 text-end">
                            Grand Total
                        </td>
                        <td class="text-gray-900 fs-3 fw-bolder text-end">
                            $<span th:text="${orderDelivery.order.orderTotal}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--end::Table-->
            </div>
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Product List-->
    <!--begin::Actions-->
    <div class="d-flex justify-content-end mt-3">
        <button disabled class="btn btn-lg btn-danger" data-bs-toggle="modal">
            Cancelled
        </button>
    </div>
    <!--end::Actions-->
</section>