<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/welcomePage.css">
    <script src="/js/custom/welcomePage.js" defer></script>
</head>
<body>
<div class="welcome-container">
    <img src="/media/logos/old_logo_F0.png" alt="Apollo Logo" class="logo">
    <button class="btn" onclick="redirectTo('/dashboard/signin?auth=true')">Login as Admin</button>
    <button class="btn" onclick="redirectTo('/shipper/signin?auth=true')">Login as Shipper</button>
</div>
</body>
</html>
